body {
    margin: 0;
    font-family: "Arial";
}
header {
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px 0;
}
.container {
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
}
aside.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
main.main-content {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    margin-right: 5px;
}
.profile {
    width: 250px;
    padding: 0px;
    right: 0;
    top: 100x; 
    height: calc(100vh - 80px);
    z-index: 999; 
    background-color: #f2f2f273;
}
.profile-table {
    width: 100%;
    border: 1px solid #fffdfd;
    border-collapse: collapse;
    background-color: #f2f2f273;
}
.profile-table th, .profile-table td {
    padding: 5px;
    border: 1px solid #ddd;
}
.profile-table th {
    text-align: center;
    background-color: #f2f2f2;
}
.profile-table td {
    vertical-align: top;
}
